In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("LabTAT.csv")

In [3]:
df

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [4]:
lab1=pd.Series(df['Laboratory 1'])

In [5]:
lab1

0      185.35
1      170.49
2      192.77
3      177.33
4      193.41
        ...
115    178.49
116    176.08
117    202.48
118    182.40
119    182.09
Name: Laboratory 1, Length: 120, dtype: float64

In [6]:
lab2=pd.Series(df['Laboratory 2'])

In [12]:
lab2

0      165.53
1      185.91
2      194.92
3      183.00
4      169.57
        ...
115    170.66
116    183.98
117    174.54
118    197.18
119    215.17
Name: Laboratory 2, Length: 120, dtype: float64

In [7]:
lab3=pd.Series(df['Laboratory 3'])

In [8]:
lab4=pd.Series(df['Laboratory 4'])

In [9]:
from scipy import stats

In [18]:
stats.ttest_ind(lab1,lab2)

Ttest_indResult(statistic=-0.2975216812891612, pvalue=0.7663277896545946)

In [19]:
stats.ttest_ind(lab2,lab3)

Ttest_indResult(statistic=-10.321291605474421, pvalue=7.029124901932706e-21)

In [20]:
stats.ttest_ind(lab3,lab4)

Ttest_indResult(statistic=17.729769073850722, pvalue=2.1080551000374276e-45)

In [21]:
stats.ttest_ind(lab1,lab4)

Ttest_indResult(statistic=8.02886395533212, pvalue=4.520137047009907e-14)